<!DOCTYPE html>
<html>

<head>

    <title>Property Rental Platform</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="navbar">

    <h2>Property Rental Platform</h2>

    <div>
        <a href="/">Home</a>
        <a href="/properties">Properties</a>
        <a href="/add-property">List Property</a>
        <a href="/admin">Admin</a>
    </div>

</div>


<div class="hero">

    <h1>Find Your Perfect Rental Property</h1>

    <p>
        Search apartments, houses and rooms easily.
    </p>


    <form action="/properties" method="GET">

        <input
            type="text"
            name="location"
            placeholder="Enter location"
        >

        <button type="submit">
            Search
        </button>

    </form>

</div>


<div class="container">

    <h2>Featured Properties</h2>


    <div class="property-grid">

        {% for property in properties %}

        <div class="property-card">

            <div class="property-image">
                🏠
            </div>

            <h3>
                {{ property["title"] }}
            </h3>

            <p>
                📍 {{ property["location"] }}
            </p>

            <p>
                🏠 {{ property["property_type"] }}
            </p>

            <p>
                🛏 {{ property["bedrooms"] }} Bedrooms
            </p>

            <h3>
                ₹{{ property["price"] }}/month
            </h3>

            <a
                href="/property/{{ property['id'] }}"
                class="btn"
            >
                View Details
            </a>

        </div>

        {% endfor %}

    </div>

</div>

</body>

</html>