body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

.navbar {
    background: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    background: #dbeafe;
    text-align: center;
    padding: 70px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero input {
    width: 300px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.property-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
}

.property-image {
    height: 130px;
    background: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 8px;
}

.large-image {
    height: 250px;
    background: #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border-radius: 10px;
}

.btn,
button {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover,
button:hover {
    background: #1d4ed8;
}

form {
    background: white;
    padding: 30px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
    text-align: left;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 95%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

.details {
    background: white;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.search-box {
    display: flex;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #1e293b;
    color: white;
}